!!! 5
%html
  %head
    %title Compass Simple
    %link{:href => "screen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body
    %h1 Compass Simple
    %p This is a simple, no fluff project to use when illustrating code samples, examples, etc.