html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

a {
  color: #006ac4;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}

.font-helvetica, body {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

body {
  background: white;
  font-size: 12px;
  padding-top: 40px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  color: #444444;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 14px;
}
p:last-child {
  margin-bottom: 0;
}
